@import '../../assets/css-config/css-config';

.select {
  background: $grey-bg;
  border-radius: 5px;
  padding: 8px;
  border: none;
  font-size: 1.4rem;
  color: $slate-grey;
  width: 100%;
  margin: 15px 0;
}
