@import '../../assets/css-config/css-config';

.radio-wrap {
  cursor: pointer;

  input {
    display: none;
  }

  .radio-txt {
    margin-right: 15px;
    color: $slate-grey;
  }

  .radio-btn {
    border: 2px solid $light-grey;
    width: 20px;
    height: 20px;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    justify-content: center;

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: $theme-color;
      transform: scale(0);
      transition: 0.3s ease-in-out;
      border-radius: 50%;
    }
  }

  input:checked ~ label .radio-btn {
    &::after {
      transform: scale(1);
    }
  }
}
